* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes colorful-text {
    0% {
background: salmon;
    }
    50% {
        rotate:  yellow;
        transform: translate(100px)
    }
    100%{
background: blue;
transform: translate(100px) rotate(45deg)
    }

}

div {
    width: 100px;
    height: 100px;
    background: salmon;
    transition: transform 2s;
    position: relative;
    

}

div:hover {
    animation: colorful-text 2s 3 ;
}